<div>
<div class="jumbotron">
   <center>
   <a href="{{site.url}}{{site.baseurl}}/about"><img src="/images/EK-headshot2022.jpg" width="60%" style="block:inline; margin-left:auto; margin-right:auto; margin-bottom:5px;"/></a>
   <h4>Elisa Kwon</h4>
   <h5><i>Ph.D. Candidate</i><br/> <a href='https://www.codesign.berkeley.edu/' target='_blank'>Co-Design Lab</a> <br/>University of California, Berkeley</h5>
   <div style="margin-bottom:5px">
   <a href="mailto:elisa.kwon@berkeley.edu" target="_blank"><i class="fa fa-envelope-square fa-3x"></i></a>
   <a href="https://drive.google.com/file/d/1cWaPortuj-UIrMhltwUU4N9uD9ujop52/view?usp=sharing" target="_blank"><i class="ai ai-cv-square ai-3x"></i></a>
   <a href="https://scholar.google.ca/citations?user=K3sddnoAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar-square ai-3x"></i></a>
  </div>
  </center>
</div>
</div>
