<div>
<div class="jumbotron">
   <center>
   <a href="{{site.url}}{{site.baseurl}}/about"><img src="/images/EK-headshot2022.jpg" width="60%" style="block:inline; margin-left:auto; margin-right:auto; margin-bottom:5px;"/></a>
   <h4>Elisa Kwon</h4>
   <div style="margin-bottom:5px">
   <a href="mailto:elisa.kwon@berkeley.edu" target="_blank"><i class="fa fa-envelope-square fa-3x"></i></a>
   <a href="https://drive.google.com/file/d/1cWaPortuj-UIrMhltwUU4N9uD9ujop52/view?usp=sharing" target="_blank"><i class="ai ai-cv-square ai-3x"></i></a>
   <a href="https://scholar.google.ca/citations?user=K3sddnoAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar-square ai-3x"></i></a>
  </div>
  </center>

  <ul style="overflow: hidden">
  <li> Ph.D. Candidate </li>
  </ul>
</div>
</div>

<div class="jumbotron">
  <h4>News</h4>

  {% for article in site.data.news limit:3 %}
  <b>{{ article.date }}</b>
    <p>{{ article.headline }}</p>
  {% endfor %}
  
  <h5><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h5>

</div>
